[DEFAULT]
workers=10

[DATABASE]
dbname=repodb
host=localhost
port=9000
user=default
password=

[AMQP]
host=localhost
port=5672
vhost=/
queue=
username=guest
password=guest
cacert=
key=
cert=

[TASK_PROCESSOR]
base_path=/tasks
flush=True
force=False
dumpjson=False
workers=10
