{
    "services" : [
        {
            "name" : "task_loader",
            "config" : "task_loader.json"
        },
        {
            "name" : "acl_loader",
            "config" : "acl_loader.json"
        },
        {
            "name" : "beehive_loader",
            "config" : "beehive_loader.json"
        },
        {
            "name" : "repocop_loader",
            "config" : "repocop_loader.json"
        },
        {
            "name" : "watch_loader",
            "config" : "watch_loader.json"
        },
        {
            "name" : "repo_loader",
            "config" : "repo_loader.json"
        }
    ],

    "notifier" : {
        "amqp" : {
            "host" : "",
            "port" : 5672,
            "vhost" : "/",
            "exchange" : "",
            "username" : "",
            "password" : "",
            "cacert" : "",
            "key" : "",
            "cert" : ""
        }
    }
}
