{
    "workers_count" : 1,
    "idle_loop_sleep": 1.0,
    "amqp_batch_size": 10,
    "tasks_dir": "/tasks",
    "tasks_archive_dir": "/archive/tasks/done",
    "publish_on_done": true,
    "requeue_on_reject": true,
    "max_redeliver_count": 2,
    "routing_key": "task.state",
    "routing_keys_dict": {
        "TASK_STATE": "task.state",
        "TASK_PROGRESS": "task.progress",
        "TASK_APPROVE": "task.subtask.approve",
        "TASK_DISAPPROVE": "task.subtask.disapprove"
    },

    "database" : {
        "dbname" : "repodb",
        "host" : "default",
        "port" : 9000,
        "user" : "default",
        "password" : ""
    },

    "amqp" : {
        "host" : "",
        "port" : 5672,
        "vhost" : "/",
        "queue" : {
            "name" : "task-loader-q",
            "type" : "quorum",
            "durable" : true,
            "bind_at_startup" : [
                {
                    "exchange" : "girar-ex",
                    "routing_key" : "task.state"
                },
                {
                    "exchange" : "girar-ex",
                    "routing_key" : "task.subtask.approve"
                },
                {
                    "exchange" : "girar-ex",
                    "routing_key" : "task.subtask.disapprove"
                },
                {
                    "exchange" : "girar-ex",
                    "routing_key" : "task.progress"
                }
            ],
            "unbind_at_startup" : [
            ]
        },
        "exchange" : "",
        "username" : "",
        "password" : "",
        "cacert" : "",
        "key" : "",
        "cert" : ""
    }
}
