{
    "workers_count" : 1,
    "tasks_dir": "/tasks",
    "publish_on_done": true,
    "requeue_on_reject": true,
    "max_redeliver_count": 2,
    "routing_key": "task.state",
    "routing_keys": [
        "task.state",
        "task.subtask.approve",
        "task.subtask.disapprove"
    ],

    "database" : {
        "dbname" : "repodb",
        "host" : "default",
        "port" : 9000,
        "user" : "default",
        "password" : ""
    },

    "amqp" : {
        "host" : "",
        "port" : 5672,
        "vhost" : "/",
        "queue" : "",
        "exchange" : "",
        "username" : "",
        "password" : "",
        "cacert" : "",
        "key" : "",
        "cert" : ""
    }
}
