{
    "workers_count" : 1,
    "routing_key": "watch.load",
    "url": "https://watch.altlinux.org/pub/watch/watch-total.txt",
    "timeout": 30,
    "publish_on_done": false,
    "requeue_on_reject": false,
    "max_redeliver_count": 0,

    "database" : {
        "dbname" : "repodb",
        "host" : "default",
        "port" : 9000,
        "user" : "default",
        "password" : ""
    },

    "amqp" : {
        "host" : "",
        "port" : 5672,
        "vhost" : "/",
        "queue" : {
            "name" : "watch-loader-q",
            "type" : "quorum",
            "durable" : true,
            "bind_at_startup" : [
                {
                    "exchange" : "repodb-ex",
                    "routing_key" : "watch.#"
                }
            ],
            "unbind_at_startup" : [
            ]
        },
        "exchange" : "uploaded-ex",
        "username" : "",
        "password" : "",
        "cacert" : "",
        "key" : "",
        "cert" : ""
    }
}
